.navbar-heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.Primary-btn {
  padding: 10px 10px;
  background-color: #f84464;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
}

.Ghost-btn {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar-large-listitems {
  background: #222539;
}
